.ActivityTracker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ActivityTracker h3 {
  margin: 15px;
}

.ActivityTracker__chart {
  width: 250px;
}

.ActivityTracker__stats dt {
  font-weight: bold;
  color: rgb(48, 48, 48);
}
