.RegistrationForm {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  width: 200px;
}

.RegistrationForm div {
  margin-bottom: 15px;
}

.RegistrationForm__buttons {
  display: flex;
  justify-content: space-evenly;
}
