.LoginForm {
  display: flex;
  flex-direction: column;
}

.LoginForm__header {
  text-align: center;
  margin-bottom: 15px;
}

.LoginForm__form-section {
  margin-bottom: 15px;
}

.LoginForm__buttons {
  display: flex;
  justify-content: space-around;
}

.LoginForm__buttons button {
  width: 100px;
}
