.LogListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LogListItem dl {
  border: 3px double rgb(179, 179, 179);
  padding: 10px;
  width: 200px;
}

.LogListItem dt {
  float: left;
  clear: left;
  text-align: right;
  font-weight: bold;
  color: rgb(48, 48, 48);
}

.LogListItem dd {
  margin-left: 110px;
  padding-bottom: 5px;
}

.LogListItem__buttons button {
  width: 80px;
  margin-right: 10px;
}
