.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: rgba(170, 170, 170, 0.767);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.NavBar h2 {
  margin: 0;
}

.NavBar h2 a {
  text-decoration: none;
}

.NavBar__not-logged-in {
  display: flex;
  flex-direction: column;
}
