.NavBar {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: rgba(114, 189, 233, 0.904);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.NavBar h2 {
  display: inline-block;
  margin: 0;
}

.NavBar h2 a {
  text-decoration: none;
}

.NavBar h2 a:hover {
  color: rgb(75, 75, 75);
}

.NavBar__nav-links {
  text-decoration: none;
}

.NavBar__nav-links:hover {
  color: rgb(75, 75, 75);
}

.NavBar__main-nav {
  list-style: none;
  display: none;
  margin: 10px 0;
  padding-top: 12px;
}

.NavBar__main-nav li {
  text-align: right;
  margin: 15px auto;
}

.NavBar__navbar-toggle {
  position: absolute;
  top: 13px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}

.NavBar__navbar-toggle:hover {
  color: rgb(75, 75, 75);
}

.active {
  display: block;
}
