.NavBar {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: rgba(114, 189, 233, 0.904);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.NavBar h2 {
  display: inline-block;
  margin: 0;
}

.NavBar h2 a {
  text-decoration: none;
}

.NavBar__nav-links {
  text-decoration: none;
}

.NavBar__main-nav {
  list-style: none;
  display: none;
  margin: 10px 0;
  padding-top: 12px;
}

.NavBar__main-nav li {
  text-align: right;
  margin: 15px auto;
}

.NavBar__navbar-toggle {
  position: absolute;
  top: 13px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}

.NavBar__navbar-toggle:hover {
  color: rgb(75, 75, 75);
}

.active {
  display: block;
}

@media screen and (min-width: 1024px) {
  .NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
  }

  .NavBar h2 {
    font-size: 25px;
  }

  .NavBar__main-nav {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
  }

  .NavBar__main-nav li {
    margin: 0;
  }

  .NavBar__nav-links {
    margin-left: 20px;
    font-size: 18px;
  }

  .NavBar__navbar-toggle {
    display: none;
  }
}
