* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4 {
  color: rgb(48, 48, 48);
  margin: 0;
}

a {
  color: rgb(48, 48, 48);
  cursor: pointer;
}

a:hover {
  color: rgb(102, 102, 102);
}

section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: rgba(184, 184, 184, 0.247);
}

section:nth-child(even) {
  background-color: rgba(129, 129, 129, 0.247);
}
